@import '~@angular/material/prebuilt-themes/purple-green.css';


.centerButtons {
    text-align: center !important;
    }
    
    .addHeader {
    float: left !important;
    }
    
    .searchHeader {
    text-align: right !important;
    }
